body{
  font-family: 'poppins',sans-serif;
  letter-spacing:0.5px;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
  box-sizing: border-box;
}
.header{
  display: flex;
}
.kino:hover{
  cursor: pointer;
}
.kino{
  height: 25.5px;
  margin-top: 21px;
  margin-left: 136px;
}
#first_input{
  margin-left: 104.5px;
  padding-bottom: 10.5px;
  padding-top: 15px;
  margin-top: 13px;
  padding-left: 9px;
}
.new{
    width: 41.7%;
    border: 2px solid #e2e2e2;
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 13px;
    height: 39px;
    margin-left: 103.5px;
    letter-spacing:0.5px;
    font-family: inherit;
}
.magnefyne{
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  border-right: 2px solid #e2e2e2;
    border-radius: 3px;
    align-self: center;
    padding-top: 8.5px;
    padding-bottom: 8px;
    padding-left: 26.5px;
    padding-right: 17.5px;
    margin-top: 12px;
    margin-left: -5px;
    color: gray;
}
.call_div:hover{
  cursor: pointer;
  color: #d43b3b;
}
.call-icon{
  margin-left: 36px;
  margin-top: 19.8px;
  height: 29px;
}
.call{
  font-size: 13.5px;
  margin-top: 14px;
  margin-left: 9px;
}
.call_div{
  display: flex;
}
.cart{
  position: relative;
  margin-top: 20px;
}
.bag{
  margin-left: 7  px;
  position: relative;
}
.zero{
    color: #fff;
    font-size: 12px;
    position: absolute;
   /* left: 1170px;
    top: 23px;*/
    width: 20px;
    height: 20px;
   /* display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d43b3b;
    font-weight: 500;
    padding-top: 2.5px;
    border-radius: 100%;
    margin-top:-9px;
    margin-left:-10px;
}
.firstnav{
  display: flex;
  background-color: #d43b3b;
  color: #fff;
  margin-top: 20px;
  height: 11vh;
  width: 101.2%;
  margin-left: -8px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
}
.headmedia{
  display: none;
}
.home{
  font-size: 14px;
  margin-left: 144px;
  padding-top: 15.5px;
  text-align: center;
}
.home::after{
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 1px;
    height: 25px;
    background: rgb(255, 255, 255, 30%);
}
.fashion{
  font-size: 14px;
  margin-left: 41px;
  padding-top: 15.5px;
  text-align: center;
  position: relative;
  z-index: 5;
}
.fashi{
  display:flex;
  flex-direction: column;
  margin-top: 39px;
  position: absolute;
  margin-left: -31px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 155px;
  padding: 5px;
  line-height: 2.3;
  padding-bottom: 8px;
  justify-content: flex-start;
  display: none;
}
.fashion:hover{
  cursor: pointer;
}
.fashion:hover .fashi{
  display: block;
}

.living{  
  font-size: 14px;
  margin-left: 40px;
  padding-top: 15.5px;
  text-align: center;
}

.liv{
  margin-left: 101px;
  margin-top: -31px;
  position: absolute;
}
.homliv{
    display:flex;
    flex-direction: column;
    margin-top: 39px;
    position: absolute;
    margin-left: -111px;
    z-index: 5;
    background-color: white;
    color: #222;
    width: 155px;
    padding: 7px;
    line-height: 2.0;
    padding-bottom: 8px;
    display: none;
}
.homelive:hover{
  cursor: pointer;
}
.homelive:hover .homliv{
  display: block;
}

.computer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  margin-left: 93px;
  padding-top: 15.5px;
  text-align: center;
}
.comp{
  margin-top: 9.5px;
  margin-left: 159px;
  position: absolute;
}
.accesso{
  display:flex;
  flex-direction: column;
  margin-top: 39px;
  position: absolute;
  margin-left: -185px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 155px;
  padding: 4px;
  line-height: 2.0;
  padding-bottom: 8px;
  display: none;
}
.computer:hover{
  cursor: pointer;
}
.computer:hover .accesso{
  display: block;
}
.mobile{
  margin-left: 120.5px;
  padding-top: 15.5px;
  font-size: 14px;
}
.mob{
  margin-left: 135.5px;
  margin-top: -33px;
  position: absolute;
}
.mobaccesso{
  display:flex;
  flex-direction: column;
  margin-top: 27px;
  position: absolute;
  margin-left: -143px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 187px;
  padding: 7px;
  line-height: 2.0;
  padding-bottom: 8px;
  display: none;
}
.mobile:hover{
  cursor: pointer;
}
.mobile:hover .mobaccesso{
  display: block;
}
.health{
  padding-top: 15.5px;
  font-size: 14px;
  margin-left: 96.5px;
}
.heal{
  margin-left: 114px;
  margin-top: -33px;
  position: absolute;
}
.healthbeauty{
  display:flex;
  flex-direction: column;
  margin-top: 27px;
  position: absolute;
  margin-left: -123px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 187px;
  padding: 7px;
  line-height: 2.0;
  padding-bottom: 8px;
  display: none;
}
.health{
  cursor: pointer;
}
.health:hover .healthbeauty{
  display: block;
}
.baby{
  padding-top: 15.5px;
  font-size: 14px;
  margin-left: 102.5px;
}
.bab{
  position: absolute;
  margin-left: 78px;
  margin-top: -31px;
}
.babyitem{
  display:flex;
  flex-direction: column;
  margin-top: 27px;
  position: absolute;
  margin-left: -87px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 187px;
  padding: 7px;
  line-height: 2.0;
  padding-bottom: 8px;
  display: none;
}
.baby:hover{
  cursor: pointer;
}
.baby:hover .babyitem{
  display: block;
}
.vl1 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:99px;
  left:209px;
}
.vl2 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  left:320px;
}
.vl3 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  left:470px;
}
.vl4 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  right: 645px;
}
.vl5 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  right: 458px;
}
.vl6 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  right:290px;
}
.picture{
  padding-left: 5px;
  padding-top: 4px;
  margin-top: -1px;
}
 .nav2nd{
    font-size: 20px;
    color: #fff!important;
   padding:5px;
   height: 35px;
    background-color: #dc3545;
    display: flex;
    margin-left: 137px;
    margin-right: 136.3px;
    margin-top: 85px;
    margin-bottom: 11px;
    font-weight: 300!important;
  }
 .to-top{
  color: #d43b3b;
  position: fixed;
  bottom: 76px;
  right: 29px;
  border: 2px solid #d43b3b;
  border-radius: 3px;
  padding: 7px 9px;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
 }
 .to-top.active{
  pointer-events: auto;
  opacity: 1;
 }
 .to-top:hover{
  background-color: #d43b3b;
  color: #ffffff;
 }
  h4{
    letter-spacing: 0.5px
  }
  .portable{
    font-size: 14px;
    padding-top: 11px;
  }
  .portable:hover{
    cursor: pointer;
    color:#d43b3b;
  }
  .product{
    margin-left: 136.5px;
    border: 1px solid #dee2e6;
    display: inline-block;
    padding: 5px;
    margin-top: 23px;
    border-radius: 3px;
    padding-bottom: 7px;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15) !important;
  }
  .product2{
    display: flex;
    flex-direction: column;
    margin-left: 20.3px;
    border: 1px solid #dee2e6;
    display: inline-block;
    padding: 5px;
    margin-top: 23px;
    border-radius: 3px;
    padding-bottom: 7px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15) !important;
  }
  .container{
    overflow: hidden;
  }
  .container img{
    display: block;
    transition: transform 2s;
  }
  .container:hover img{
    transform: scale(1.1);
    cursor: pointer;
  }
  .products{
    height: 149px;
    width: 140px;
  }
  .o{
    display: flex;
    flex-direction: row;
  }
  .prod{
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
.order{
  font-size: 20px;
  color: #d43b3b;
  padding-left: 11px;
}
.ordernow{
  background-color: #dc3545;
  color: #fff;
  border-radius: 3px;
  width: 11.5%;
  margin-top: 3px;
  font-size: 13px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ordernow:hover{
  cursor: pointer;
}
.nav3rd{
  font-size: 20px;
  color: #ffffff;
 padding:5px;
 height: 35px;
  background-color: #dc3545;
  display: flex;
  margin-left: 137px;
  margin-right: 136.3px;
  margin-top: 31px;
  justify-content: space-between;
}
.all{
  display: flex;
}

.footer{
  margin-top: 25px;
  width: 101.13%;
  display: flex;
  margin-right: -4px;
  justify-content: space-between;
  background-color: #d43b3b;
  height: 70px;
  margin-left: -7.6px;
  margin-bottom: -13px;
  }
.foot{
  font-size: 14px;
  color: #ffffff;
  margin-left: 145px;
  padding-top: 13px;
  display: flex;
  letter-spacing: 0.3px;
  flex-direction: column;
}
html{
  scroll-behavior:smooth;
}
.tech{
  color: #222;
}
.tech:hover{
  cursor: pointer;
  opacity: 0;
}
h3 {
  color: #222;
  letter-spacing: 1px;
  margin:0;
  padding: 0;
  font-weight: 600;
  display: block;
  box-sizing: border-box;
  line-height: normal;
  font-size: 28px;
}

.avail{
  margin-top: -11px;
  min-width: 105px;
  font-weight: 600;
  display: inline-block;
  font-size: 14px;
  box-sizing: border-box;
}
.check{
  color: #d43b3b;
    font-weight: 600;
    display: inline-block;
    margin-left: 15px;
    box-sizing: border-box;
}
.main_price{
  font-size: 20px;
    color: red;
    display: inline-block;
}
del{
  text-decoration: line-through;
}
.discount{
  margin-top: 4px;
  background-color: #d43b3b;
    font-size: 14px;
    color: #fff;
    margin-left: 11px;
    padding-right: 5px;
    padding-left: 13px;
    padding-top: 2px;
    padding-bottom: -1px;
    transform: rotate(-35deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
    display: inline-block;
    box-sizing: border-box;
}
.now{
  display: flex;
  flex-direction: column;
}
.buy_now{
  width: 100%;
  margin-top: 35px;
  display: inline-block;
  margin-bottom: 7px;
}
.odd{
  color: #fff;
  width: 50%;
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -6px;
    margin-left: 2px;
    margin-right: -1px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
   /* padding: 0.375rem 0.75rem;*/
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 89px;
   padding-right: 89px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.buy{
  color: #fff;
  width: 50%;
  margin-left: 5px;
    background-color: #198754;
    border-color: #198754;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -6px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid transparent;
    padding-left: 110px;
    padding-right: 110px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cal{
  text-align: center!important;
  margin-top: 0.5rem!important;
  color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: none;
      vertical-align: middle;
      display: flex;
      margin-top: 5px;
      flex-direction: column;
      width: 95.8%;
      cursor: pointer;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.price{
  display: flex;
  margin-top: 19px;
}
b{
  font-weight: bolder;
  box-sizing: border-box;
  color: red;
}
table{
  margin-top: 2px;
  caption-side: bottom;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px
}
.table{
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075)
}
td{
  border-color: inherit;
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
    border-style: solid;
    border-width: 0;
    display: table-cell;
    vertical-align: inherit;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    border-color: #dee2e6;
    font-size: 14px;
}
.fload{
  border-radius: 5px;
  height: 415px;
  border: 1px solid #dee2e6;
}
.main{
  margin-top: 27px;
  display: flex;
  box-sizing: border-box;
  margin-left: 131px;
}
.text{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 3px;
}
.descrip{
  margin-top: -11px;
  border: 1px solid #dee2e6;
  display: flex;
  margin-left: 136px;
  margin-right: 136px;
  border-radius: 5px;
  color: #222222;
  font-size: 14px;
  font-family:  'Roboto', sans-serif;
  line-height: 20px;
  text-align: left;
  position: relative;
  letter-spacing: 0.5px;
}
.origin{
  display: flex;
  flex-direction: column;
  padding-left: 42px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.roolers{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 297px;
}
















@media (max-width:600px) {
  body{
    min-height: 100vh;
    width: 100%;
  }
  
  .new,
  .magnefyne{
    display: none;
  }
  .call_div{
    display: none;
  }
  .headmedia{
    display: inline;
    margin-left: 195px;
    margin-top: 3px;
    
  }
  .bag2{
    position: relative;
    font-family: 45px;
  }
  .zero2{
    color: #fff;
    font-size: 10px;
    position: absolute;
    left: 55px;
    top: -1px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d43b3b;
    font-weight: 500;
    border-radius: 100%
  }
  .cart{
    display: none;
  }
  .footer{
    display: flex;
    height: 15vh;
    flex-direction: column;
    width: 1090px;
    justify-content: center;
  }
  .foot{
    margin-left: 5px;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
  }
  .to-top{
    padding: 30px;
  }
  .payment{
    height: 155px;
    padding-left: 355px;
  }
  .nav3rd{
    width: 175%;
    margin-left: 23px;
    font-size: 37px;
    height: 71px;
  }
  button{
    margin-left: -100px;
    font-size: 29px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav2nd{
    margin-left: 23px;
    width: 175%;
    height: 70px;
    font-size: 34px;
    padding-top: 13px;
    display: flex;
  }
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
}
.kino{
  height: 60px;
  margin-left: 37px;
}

.headmedia{
  font-size: 29px;
  margin-left: 613px;
  padding-top: 47px;
  display: flex;
}
#search{
  margin-top: -13px;
  padding-left: 55px;
  font-size: 29px;
}
.bag2{
  margin-top: -21px;
  padding-left: 31px;
}
.glass2{
  margin-top: -21px;
  padding-left: 29px;
}
.product{
  margin-left:21px;
  width: 43.5%;
}
.product2{
  margin-left:21px;
  width: 43.5%;
}
.products{
  height: 500px;
  width: 310px;
}
.portable{
  font-size: 24px;
}
.o{
  font-size: 24px;
}
.ordernow{
  font-size: 20px;
  padding-left: 59px;
  padding-right: 59px;
}
del{
  padding-top: 0;
}
.firstnav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top:0;
  left:0;
  display: none;
  z-index: 99;
  background-color: #fff;
  color: #222;
  width: 550px;
  height: 200vh;
  transition: 0.3s;
  border-bottom: 3px lightslategrey;
}
.firstnav .active{
  display: block;
}
.home{
  margin-top: 71px;
  margin-left: 25px;
  font-size: 29px;
}
.health{
  display: none;
}
.baby{
  display: none;
}
.mobile{
  display: none;
}
.computer{
  display: none;
}
.fashion{
  display: none;
}
.homelive{
  display: none;
}
}





















@media (max-width:600px) {
  body{
    min-height: 100vh;
    width: 100%;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  .odd{
    width: 300px;
  }
  .buy{
    width: 300px;
  }
  .cal{
    width: 600px;
  }
}






