body{
  font-family: 'poppins',sans-serif;
  letter-spacing:0.5px;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
}




/* universal*/




.header{
  display: flex;
}
.kino:hover{
  cursor: pointer;
}
.kino{
  width: 105px;
  height: 25.5px;
  margin-top: 21px;
  margin-left: 136px;
}
#first_input{
  margin-left: 104.5px;
  padding-bottom: 10.5px;
  padding-top: 15px;
  margin-top: 13px;
  padding-left: 9px;
}
.new{
    width: 42.3%;
    border: 2px solid #e2e2e2;
    border-radius: 3px;
    padding-left: 10px;
    padding: 1px;
    margin-top: 12.8px;
    height: 38px;
    margin-left: 103.5px;
    letter-spacing:0.5px;
    font-family: inherit;
}
.magnefyne{
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  border-right: 2px solid #e2e2e2;
    border-radius: 3px;
    align-self: center;
    padding-top: 8px;
    padding-bottom: 7.5px;
    padding-left: 29px;
    padding-right: 20px;
    margin-top: 13px;
    margin-left: -5px;
    color: gray;
    font-weight: 600;
}
.call-icon{
  margin-left: 36px;
  margin-top: 20px;
  height: 29px;
  font-size: 14px;
}
.call{
  font-size: 14px;
  margin-top: 14px;
  margin-left: 9.5px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #d43b3b;
}
.call_div:hover{
  color: #d43b3b;
  cursor: pointer;
}
.call_div{
  display: flex;
}
.cart{
  position: relative;
  margin-top: 20px;
}
.bag{
  margin-left: 5px;
  position: relative;
}
.zero{
    color: #fff;
    font-size: 12px;
    position: absolute;  
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d43b3b;
    font-weight: 500;
    padding-top: 2.5px;
    border-radius: 100%;
    margin-top:-9px;
    margin-left:-10px;
}
.firstnav{
  display: flex;
  background-color: #d43b3b;
  color: #fff;
  margin-top: 20px;
  height: 11vh;
  width: 101.2%;
  margin-left: -8px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
.headmedia{
  display: none;
}
.home{
  font-size: 14px;
  margin-left: 144px;
  padding-top: 15.5px;
  text-align: center;
  position: relative;
}
.home::after{
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 1px;
    height: 25px;
    background: rgb(255, 255, 255, 30%);
}
.vl1 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:99px;
  left:209px;
}
.vl2 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  left:320px;
}
.vl3 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  left:470px;
}
.vl4 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  right: 645px;
}
.vl5 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  right: 458px;
}
.vl6 {
  border-left: 1px solid lightcoral;
  height: 27px;
  position: absolute;
  top:105px;
  right:290px;
}
.fashion{
  font-size: 14px;
  margin-left: 41px;
  padding-top: 15.5px;
  text-align: center;
  position: relative;
  z-index: 5;
}
.fashi{
  display:flex;
  flex-direction: column;
  margin-top: 36px;
  position: absolute;
  margin-left: -31px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 155px;
  padding: 5px;
  line-height: 2.3;
  padding-bottom: 8px;
  justify-content: flex-start;
  display: none;
}
.fashion:hover{
  cursor: pointer;
}
.fashion:hover .fashi{
  display: block;
}

.living{
  
  font-size: 14px;
  margin-left: 40px;
  padding-top: 15.5px;
  text-align: center;
}

.liv{
  margin-left: 101px;
  margin-top: -31px;
  position: absolute;
}
.homliv{
    display:flex;
    flex-direction: column;
    margin-top: 27px;
    position: absolute;
    margin-left: -111px;
    z-index: 5;
    background-color: white;
    color: #222;
    width: 155px;
    padding: 7px;
    line-height: 2.0;
    padding-bottom: 8px;
    display: none;
}
.homelive:hover{
  cursor: pointer;
}
.homelive:hover .homliv{
  display: block;
}

.computer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  margin-left: 93px;
  padding-top: 15.5px;
  text-align: center;
}
.comp{
  margin-top: 9.5px;
  margin-left: 159px;
  position: absolute;
}
.accesso{
  display:flex;
  flex-direction: column;
  margin-top: 27px;
  position: absolute;
  margin-left: -185px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 155px;
  padding: 4px;
  line-height: 2.0;
  padding-bottom: 8px;
  display: none;
}
.computer:hover{
  cursor: pointer;
}
.computer:hover .accesso{
  display: block;
}
.mobile{
  margin-left: 120.5px;
  padding-top: 15.5px;
  font-size: 14px;
}
.mob{
  margin-left: 135.5px;
  margin-top: -33px;
  position: absolute;
}
.mobaccesso{
  display:flex;
  flex-direction: column;
  margin-top: 27px;
  position: absolute;
  margin-left: -143px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 187px;
  padding: 7px;
  line-height: 2.0;
  padding-bottom: 8px;
  display: none;
}
.mobile:hover{
  cursor: pointer;
}
.mobile:hover .mobaccesso{
  display: block;
}
.health{
  padding-top: 15.5px;
  font-size: 14px;
  margin-left: 96.5px;
}
.heal{
  margin-left: 114px;
  margin-top: -33px;
  position: absolute;
}
.healthbeauty{
  display:flex;
  flex-direction: column;
  margin-top: 27px;
  position: absolute;
  margin-left: -123px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 187px;
  padding: 7px;
  line-height: 2.0;
  padding-bottom: 8px;
  display: none;
}
.health{
  cursor: pointer;
}
.health:hover .healthbeauty{
  display: block;
}
.baby{
  padding-top: 15.5px;
  font-size: 14px;
  margin-left: 102.5px;
}
.bab{
  position: absolute;
  margin-left: 78px;
  margin-top: -31px;
}
.babyitem{
  display:flex;
  flex-direction: column;
  margin-top: 27px;
  position: absolute;
  margin-left: -87px;
  z-index: 5;
  background-color: white;
  color: #222;
  width: 187px;
  padding: 7px;
  line-height: 2.0;
  padding-bottom: 8px;
  display: none;
}
.baby:hover{
  cursor: pointer;
}
.baby:hover .babyitem{
  display: block;
}

/* header and nav bar*/


  .slider{
    height: 400px;
    width: 1034px;
    position: absolute;
    top: 49.4%;
    left: 42.2%;
    transform: translate(-40%,-40%);
    box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .images{
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide-in 30s 1;
  }
  img{
    width: 100%;
  }
   @keyframes slide-in{
    0%{
      transform: translateX(0);
    }
    15%{
      transform: translateX(0);
    }
    25%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(-100%);
    }











}  
.images img{
  transition: all 0.15s ease;
} 
.images input{
  display: none;
}
.images i{
  display: none;
}
   .dots{
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .dots label{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #d43b3b;;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    padding: -10px;
    margin-top: -45px;
    margin-left: 5px;
  }
  .dots label:hover{
    background-color: black;
  }
    #img1:checked ~ .m1{
      height: 400px;
    }
    #img2:checked ~ .m2{
      height: 400px;
    }
    #img2:checked ~ .m1{
      display: none;
    } 









 #content .slide{
  position: absolute;
  transform: translateY(-50%);
  top:50%;
  height: 35px;
  width: 35px;
  color: white;
  line-height: 41px;
  cursor: pointer;
 }
 #content .right{
  right: 19px;
 }
 #content .left{
  left: 25px;
 }




/* banner task end */

.to-top{
  color: #d43b3b;
  position: fixed;
  bottom: 79px;
  right: 30px;
  border: 2px solid #d43b3b;
  border-radius: 3px;
  padding: 7px 9px;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
 }
 .to-top.active{
  pointer-events: auto;
  opacity: 1;
 }
 .to-top:hover{
  background-color: #d43b3b;
  color: #ffffff;
 }


/* back to top icon*/


  .featured{
    position: relative;
    margin-top: 430px;
  }
  .nav2nd{
    font-size: 20px;
    color: #fff!important;
   padding:5px;
   height: 35px;
    background-color: #dc3545;
    display: flex;
    margin-left: 135.7px;
    margin-right: 134.7px;
    margin-top: 25px;
    margin-bottom: 11px;
    font-weight: 300!important;
  }

  h4{
    letter-spacing: 0.5px
  }
  .portable{
    font-size: 14px;
    padding-top: 11px;
  }
  .portable:hover{
    cursor: pointer;
    color:#d43b3b;
  }
  .product{
    margin-left: 136px;
    border: 1px solid #dee2e6;
    display: inline-block;
    padding: 5.5px;
    margin-top: 19px;

    border-radius: 3px;
    padding-bottom: 11px;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15) !important;
  }
  .product2{
    display: flex;
    flex-direction: column;
    margin-left: 19.5px;
    border: 1px solid #dee2e6;
  
    display: inline-block;
    padding: 5.5px;
    margin-top: 19px;
    border-radius: 3px;
    padding-bottom: 11px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15) !important;
  }
  .container{
    overflow: hidden;
  }
  .container img{
    display: block;
    transition: transform 2s;
  }
  .container:hover img{
    transform: scale(1.1);
    cursor: pointer;
  }
  .products{
    height: 149px;
    width: 139.5px;
  }
  .o{
    display: flex;
    flex-direction: row;
  }
  .prod{
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
.order{
  font-size: 20px;
  color: #d43b3b;
  padding-left: 7px;
}
.ordernow{
  background-color: #dc3545;
  color: #fff;
  border-radius: 3px;
  width: 11.5%;
  
  font-size: 13px;
  padding-left: 25.2px;
  padding-right: 25.2px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 11px;
}
.ordernow:hover{
  cursor: pointer;
}
.nav3rd{
  font-size: 20px;
  color: #ffffff;
 padding:5px;
 height: 35px;
  background-color: #dc3545;
  display: flex;
  margin-left: 136px;
  margin-right: 135px;
  margin-top: 45px;
  justify-content: space-between;
}
.all{
  display: flex;
}
.button{
  background-color: #198754;
  color: #ffffff;
  letter-spacing: 0.5px;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 3px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  border: #198754;
  text-align: center;
  cursor: pointer;
}

/*main content  */


.footer{
  margin-top: 63px;
  width: 101.13%;
  display: flex;
  justify-content: space-between;
  background-color: #d43b3b;
  height: 71px;
  margin-left: -7.6px;
  letter-spacing: 0.45px;
  margin-bottom: -13px;
  }
  
.foot{
  font-size: 14px;
  color: #ffffff;
  margin-left: 144px;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
}
html{
  scroll-behavior:smooth;
}
.tech{
  color: #222;
  letter-spacing: 0.35px;
}
.tech:hover{
  cursor: pointer;
  opacity: 0;
}


/*footer*/


















@media (max-width:600px) {
  body{
    min-height: 100vh;
    width: 600px;
  }
  
  .new,
  .magnefyne{
    display: none;
  }
  img{
    height: 22px;
    margin-left: 6px;
    margin-top: 5px;
  }
  .call_div{
    display: none;
  }
  .headmedia{
    display: inline;
    margin-left: 195px;
    margin-top: 3px;
    
  }
  .bag2{
    position: relative;
    font-family: 45px;
  }
  .zero2{
    color: #fff;
    font-size: 10px;
    position: absolute;
    left: 55px;
    top: -1px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d43b3b;
    font-weight: 500;
    border-radius: 100%
  }
  .cart{
    display: none;
  }
  /*.images img{
    height: 105px;
    margin-top: 21px;
    margin-left: 45px;
  }*/
  .footer{
    display: flex;
    height: 15vh;
    flex-direction: column;
    width: 1090px;
    justify-content: center;
  }
  .foot{
    margin-left: 5px;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
  }
  .to-top{
    padding: 30px;
  }
  .payment{
    height: 155px;
    padding-left: 355px;
  }
  .nav3rd{
    width: 175%;
    margin-left: 23px;
    font-size: 37px;
    height: 71px;
  }
  button{
    margin-left: -100px;
    font-size: 29px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav2nd{
    margin-left: 23px;
    width: 175%;
    height: 70px;
    font-size: 34px;
    padding-top: 13px;
    display: flex;
  }
  #img1:checked ~ .img2 {
    display: none;
}
#img2:checked ~ .img1 {
  display: none;
}
#img2:checked ~ .img2 {
  margin-left: 31px;
}
#img1:checked ~ .img1 {
  margin-left: 31px;
  background-position:right 35% bottom;
  height: 140px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
}
.kino{
  height: 60px;
  margin-left: 37px;
}

.headmedia{
  font-size: 29px;
  margin-left: 613px;
  padding-top: 47px;
  display: flex;
}
#search{
  margin-top: -13px;
  padding-left: 55px;
  font-size: 29px;
}
.bag2{
  margin-top: -21px;
  padding-left: 31px;
}
.glass2{
  margin-top: -21px;
  padding-left: 29px;
}
.product{
  margin-left:21px;
  width: 43.5%;
}
.product2{
  margin-left:21px;
  width: 43.5%;
}
.products{
  height: 500px;
  width: 310px;
}
.portable{
  font-size: 24px;
}
.o{
  font-size: 24px;
}
.ordernow{
  font-size: 20px;
  padding-left: 59px;
  padding-right: 59px;
}
del{
  padding-top: 0;
}
.firstnav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top:0;
  left:0;
  display: none;
  z-index: 99;
  background-color: #fff;
  color: #222;
  width: 550px;
  height: 200vh;
  transition: 0.3s;
  border-bottom: 3px lightslategrey;
}
.firstnav .active{
  display: block;
}
.home{
  margin-top: 71px;
  margin-left: 25px;
  font-size: 29px;
}
.health{
  display: none;
}
.baby{
  display: none;
}
.mobile{
  display: none;
}
.computer{
  display: none;
}
.fashion{
  display: none;
}
.homelive{
  display: none;
}
}




























